<h1>Welcome to Viewing Party Lite</h1>

<% if current_user %>
  <p>you are logged in! XD</p>
  <%= link_to "Log out", '/logout', method: :delete %>
<% else %>
  <p><%= button_to "Create New User", register_path, method: :get %></p>
  <%= link_to "Login", login_path %>
<% end %>


<h3>Users:</h3>
<% @users.each do |user| %>
  <p><%= "#{user.email}"%></p>
<% end %>
